@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

body {
  background: #dfdfdf;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

footer {
  width: 100%;
  text-align: center;
  // bottom: 0;
  // position: fixed;
  padding: 1rem;
}

.labelCell {
  background: #e1f1c8;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0.1rem 1rem;

  cursor: pointer;
  &.selected {
    background: #8bc34a;
  }
  // padding: 0.2rem 0.5rem;
}

.left-col {
  text-align: left;
  padding-right: 0;
  margin-bottom: 1rem;
  cursor: pointer;
}
.right-col {
  text-align: right;
  padding-left: 0;
  margin-bottom: 1rem;
}

.launch-program {
  padding-bottom: 1rem;
  width: 95%;
  .card-body {
    padding: 0 1.25rem;
    .card-title {
      a {
        font-size: 1rem;
        color: #6868c6;
      }
    }
  }
  .list-group-item {
    font-size: 0.9rem;
    padding: 0.25rem 1.25rem;
  }
  img {
    margin: 1.5rem;
    width: 80%;
    height: auto;
    background: #dfdfdf;
  }
  .list-group-flush {
    border: 0;
    & > .list-group-item {
      border: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .launch-program {
    width: 100%;
  }
}

.pagination {
  span {
    cursor: pointer;
  }
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(80vh);
    &.mobile {
        min-height: auto;
    }
  small {
    font-family: fantasy;
    font-size: 1.5em;
    text-align: center;
    opacity: 0.8;
    order: 1;
  }
}

