body {
  background: #dfdfdf;

  &::-webkit-scrollbar {
    width: 0.5em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

footer {
  width: 100%;
  text-align: center;
  // bottom: 0;
  // position: fixed;
  padding: 1rem;
}

.labelCell {
  background: #e1f1c8;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0.1rem 1rem;

  cursor: pointer;
  &.selected {
    background: #8bc34a;
  }
  // padding: 0.2rem 0.5rem;
}

.left-col {
  text-align: left;
  padding-right: 0;
  margin-bottom: 1rem;
  cursor: pointer;
}
.right-col {
  text-align: right;
  padding-left: 0;
  margin-bottom: 1rem;
}

.launch-program {
  img {
    margin: 1.5rem;
    width: 80%;
    height: auto;
    background: #dfdfdf;
  }
  .list-group-flush{
    border: 0;
    &>.list-group-item {
        border: 0;
    }
  }
}
